* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /* overflow: hidden; */
    height: 100vh;
    width: 100vw;
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
}

input {
    margin: 5px 10px 10px 0px;
    border-radius: 3px;
    height: 20px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    
}

.app-container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr;
    grid-gap: 5px;
    height: 100%;
    box-sizing: border-box;
    padding: 20px; /* Adjust the margin as needed for spacing */
    grid-auto-flow: row;
}

@media (max-width: 767px) {
    .app-container {
        grid-template-columns: 1fr; /* Change to a single column layout */
    }
}

aside {
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    box-sizing: border-box;
}

main {
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    background-color: #0070c9;
    color: #ffffff;
    border: 2px solid #0070c9;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: #005693;
    color: #ffffff;
}
